@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");

body {
  font-size: 13px;
  font-family: Manrope, sans-serif;
  min-height: 100vh;
  background-color: hsl(213, 44%, 95%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

main {
  width: 327px;
  border-radius: 10px;
  background-color: hsl(0, 0%, 100%);
}

main header {
  background: url("../images/drawers.jpg") no-repeat top/100% 240px;
  width: 100%;
  height: 200px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

main section {
  padding: 20px 32px;
}

main section h2 {
  font-weight: 700;
  font-size: 1.2em;
  line-height: 1.5em;
  color: hsl(217, 19%, 35%);
}

main section p {
  font-weight: 500;
  font-size: 1.03em;
  line-height: 1.5em;
  color: hsl(214, 17%, 51%);
}

#user-info {
  display: flex;
  justify-content: space-between;
  /* padding: 20px 32px; */
}

#user-info > img {
  max-width: 100%;
}

#user-info-div {
  display: flex;
  justify-content: space-between;
}

#user-info-div img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 20px;
}

#user-info-div p {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  color: hsl(217, 19%, 35%);
  font-weight: 700;
}

#user-info-div p span {
  color: hsl(212, 23%, 69%);
  font-weight: 500;
  width: 100%;
}

#share-icon {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: hsl(220, 55%, 96%);
  position: relative;
}

.share-button-hover {
  cursor: pointer;
  background-color: hsl(214, 16%, 51%) !important;
}

#share-info {
  background-color: hsl(217, 19%, 35%);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  align-items: center;
  padding: 5px 32px;
}

#share-info h4 {
  text-transform: uppercase;
  margin-right: 15px;
  letter-spacing: 0.5em;
  color: hsl(212, 23%, 69%);
  font-weight: 500;
}

.socials img + img, .tooltip-content img + img {
  margin-left: 15px;
}

.socials img:hover {
  cursor: pointer;
}

#share-icon-active {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: hsl(214, 17%, 51%);
  margin-left: 48px;
}

.share-button-active-hover {
  cursor: pointer;
  background-color: hsl(220, 55%, 96%) !important;
}

.show-hide {
  display: none !important;
}

.tooltip-content {
  position: absolute;
  top: -70px;
  left: -105px;
  background-color: hsl(219, 19%, 35%);
  border: 1px solid #ccc;
  padding: 0 15px 0 20px;
  z-index: 100;
  display: none;
  width: fit-content;
  border-radius: 10px;
}

.tooltip-content h4 {
  text-transform: uppercase;
  margin-right: 15px;
  letter-spacing: 0.5em;
  color: hsl(212, 23%, 69%);
  font-weight: 500;
}

.tooltip-content img {
  margin-right: 10px;
}

.tooltip-content .socials {
    display: flex;
}

.tooltip-visible {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.tooltip-visible::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: hsl(219, 19%, 35%) transparent transparent transparent;
  }

body > footer {
  width: 100%;
  font-size: 11px;
  text-align: center;
}
body > footer a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 1440px) {
  main {
    width: 730px;
    height: 280px;
    display: flex;
    flex-wrap: wrap;
  }

  main header {
    background: url("../images/drawers.jpg") no-repeat left/auto 100%;
    width: 39%;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0;
  }

  main section {
    width: 52%;
  }

  main section h2 {
    font-size: 1.55em;
  }
}
